<div class="container">
  <h1 class="person mb-3">Who?</h1>
  <p>
  <%= link_to "Everyone", play_path, class: "chunky-button" %>
  <%= link_to "Newbies", play_path(recent: true), class: "chunky-button ms-2" %>
  </p>
</div>
