<div class="wrapper" data-controller="who" data-action="keypress@window->who#next click@window->who#next">
  <div class="person">
    <div id="who" data-who-target="slide" data-index="0" data-who-index-value="0">Who 'dat?</div>
    <div id="masked_name" data-who-target="slide" data-index="1" data-who-index-value="1" hidden><%= @masked_name %></div>
    <div id="full_name" data-who-target="slide" data-index="3" data-who-index-value="3" hidden><%= @person.name %></div>
    <div class="avatar"><%= image_tag @person.avatar.variant(resize_to_fit: [800, 500]), class: "responsive" %></div>
    <div id="title" data-who-target="slide" data-index="2" data-who-index-value="2" hidden><%= @person.title %></div>
  </div>
</div>
