body {
  background-color: midnightblue;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (min-width: 800px) {
  .logo {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
  }

  .wrapper {
    margin-top: 4em;
    text-align: center;
  }

  .container {
    margin-top: 10rem;
    text-align: center;
  }
}

@media only screen and (max-width: 799px) {
  .wrapper {
    margin-top: 0;
    text-align: center;
  }

  .logo {
    text-align: center;
    width: 125px;
    margin: 0 auto;
  }

  .container {
    margin-top: 0;
    text-align: center;
  }

  .responsive {
    width: 100%;
    width: auto;
    max-height: 350px;
  }
}

.person {
  text-transform: uppercase;
  font-family: 'Passion One', sans-serif;
  font-size: 3.25em;
  color: white;

  -webkit-text-stroke: 1px black;
}

.btn-image {
  cursor: pointer;
  display: inline-block;
  border: none;
  text-decoration: none;
  background-color: transparent;
}

.btn-google-sign-in {
  width: 191px;
  height: 46px;
  background-image: url("images/btn_google_signin_dark_normal_web.png");
}

.btn-google-sign-in:active {
  background-image: url("images/btn_google_signin_dark_pressed_web.png");
}

.chunky-button {
  font-family: 'Passion One', sans-serif;
  font-size: 2.5em;
  color: white;
  -webkit-text-stroke: 1px black;
  padding: 2rem;
  border-radius: 10px;
  background: rgb(255,236,0);
  background: linear-gradient(180deg, rgba(255,236,0,1) 0%, rgba(255,173,0,1) 51%, rgba(255,115,0,1) 100%);
  text-decoration: none;
}

.chunky-button:hover {
  -webkit-text-stroke: 1px #C30303;
}

.ms-1 {
  margin-left: 0.5em;
}
.ms-2 {
  margin-left: 1em;
}

.mb-3 {
  margin-bottom: 4rem;
}
